*{margin: 0;padding: 0;}
  
body{font-family: 'Hind Siliguri', sans-serif !important;}

a{text-decoration: none !important;}

.container{width: 1125px; margin: 0 auto;}

.nav-item{margin-left: 20px;}

.navbar-collapse ul > li > a:hover{color: brown !important}

.fa-home{
margin-top: -50px;
padding: 32px 5px;
border-bottom: 5px solid brown !important;
}

a.nav-link.text-light.active.solds {
  padding: 10px;
  background: green;
  border-radius: 10px;
  color: white;
}

a.nav-link.text-light.active.add {
  padding: 12px  20px;
  background: #c40300;
  border-radius: 50px;
  color: white;
 }
a.nav-link.text-light.active.add:hover, a.nav-link.text-light.active.sold:hover{color: black !important}

/* slider css  */

.carousel-item img{width: 1120px;height: 410px;}

/* alert-information section  */

.alert-information{margin: 100px;}

.alert-information .row .col-lg-6 h1{color: #c40300;font-weight: 700;font-size: 43px;}

.alert-information .row .col-lg-6 span{color:#aebcb9; margin-left: -50px;}

.all-add{ margin-left:-50px !important ; padding-top: 50px; cursor: pointer;}

 .img-1{margin-left: -50px;}

 .img-2{ margin-left: 50px;}

 .img-1:hover, .img-2:hover, .img-3:hover{transform: scale(.9) ; transition: transform .5s ease-in-out;}

 /* search section css  */

 .serch-title h1{ text-align: center; font-size: 28px; color: #BF0707;}

button.btn{background-color: #BF0707 ;color: white ; text-align: left;}

 button.btn:hover{color: white; background: #8E0000;}

 /* modal section css  */

 .menu ul li{list-style: none;  padding: 10px; border-bottom: 1px solid gray;}

 .menu ul li a{text-decoration: none; color: black; font-size: 15px;}

 .menu ul li a:hover{color: #BF0707; cursor: pointer;}

 .menu ul li a img{width: 20px; height:20px;}

 label{ display: flex !important; align-items: center !important;}

 span.material-icons {font-size: 20px; margin-right: 5px;}

/* Category section css  */

.category-title::after{
content: '';
border-bottom: 4px solid;
justify-content: center;
display: flex;
width: 50px;
align-items: center;
margin: 0 auto;
color: #C40300;
}

.box-1{
 background-color: #e2e2e2;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px;
 padding: 25px 20px 35px;
 width: 200px !important;
}

.box-infor img{width: 100%; height: 40px;}

.box-img{border-radius: 50px;padding: 25px;}

.box-1:hover{background-color: #c40300;color: aliceblue;}

.box-1:hover .box-img {background-color: aliceblue;}

/* all cow section css */
.all-title h1{font-size: 26px;font-weight: 600;}

.all-title::after{
content: '';
border-bottom: 4px solid;
display: flex;
width: 50px;
color: #C40300;
}

.all-info{display: flex;justify-content: space-between;}

.fa-angle-left, .fa-angle-right{
  padding: 10px 15px;
  color: white;
  background: #C40300;
  border-radius: 2px;
  font-size: 20px;
}

.animal-img:hover{transform: scale(1.1) ;transition: transform 2s ease-in-out;}

.animal{position: relative;overflow: hidden;}

.animal:hover .title{display: block;}

.animal-img img{width: 261px; height: 170px ; }

.title{
margin-top: -170px;
color: white;
display:none;
position: absolute;
background-color: #05000075;
width: 261px;
height: 170px ; 
text-align: center;
padding: 50px 0;
}

 /* all animal section css  */

 .animal-title::after{
  content: '';
  border-bottom: 4px solid;
  justify-content: center;
  display: flex;
  width: 50px;
  align-items: center;
  margin: 0 auto;
  color: #C40300;
  }
  
.cow-img img{ width: 305px; height: 200px;}
 
.sold{
transform: rotate(-45deg);
margin-top: -175px;
padding: 5PX ;
background: #C40300;
color: white;
margin-left: -10px;
width: 100px; 
text-align: center;
border-radius: 25px;
font-size: 15px;
}

.offer{
margin-top: 80px;
padding: 5PX 20px;
background: #C40300;
color: white;
margin-left: 105px;
width: 150px; 
text-align: center;
width: 200px;
clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%, 20px 50%) ;
font-size: 18px;
}

.offer-2{
  margin-top: -60px;
  padding: 5PX 20px;
  background: #C40300;
  color: white;
  margin-left: 105px;
  width: 150px; 
  text-align: center;
  width: 200px;
  clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%, 20px 50%) ;
  font-size: 18px;
  }

.mobile, .love{background-color: #e1e9e7 !important;}

.mobile:hover, .love:hover { background-color: #C40300 !important; color: white !important;}

.card { width: 305px;}

.card h5{font-weight: 600;}

/* footer css  */
footer{
background-color: black;
height: 400px;
align-items: center;
justify-content: center;
display: flex;
color: white;
}

.fot-1 .img{align-items: center;  justify-content:center; display: flex;}

.fab{background-color: #626769; padding: 10px; border-radius: 50px;}

.fab:hover{background-color: #C40300;}

.fa-facebook-f {padding:10px 14px;}

.footer-menu ul li{list-style: none;margin-bottom: 10px;}

.footer-menu ul li a{color: white; }

.footer-menu ul li a:hover{color: #C40300; }

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@
          media qurey
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* mobile device layout  */

@media only screen and (max-width: 393px) {

nav{margin-left: 40px;}

a.nav-link.text-light.active.solds,  a.nav-link.text-light.active.add {
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
  margin-left: -10px;
  }
.sliders{margin-left: 20px !important;}
.alert-information{margin: 50px 60px;}
.alert-information .row .col-lg-6 h1{color: #c40300;font-weight: 700;font-size:22px;}
.all-add{ margin-left:-20px !important ;}
.img-3{margin-left: -30px;margin-top: 10px;}

.catee{justify-content: center;}

.top-level, .card{margin-left: 30px !important;}

footer{height: 100%;}

.fot-1{margin-top: 20px;} 


}


/* tablet device layout   */

@media only screen and (min-width:689px) and (max-width:992px){

  a.nav-link.text-light.active.solds,  a.nav-link.text-light.active.add {
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
  margin-left: -10px;
  }
.img-1{margin-left: -50px;}

.img-2 img{margin-left: 100px;} 
   
.img-3 img{margin: 50px 100px;}

.catee{margin-left: 20px !important;}

footer{height: 100%; background-color: #000000;}

.fot-1{margin-top: 20px;} 

.copyright{margin-bottom: 200px;}

}